@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
   
}

header{
    position: fixed;
    z-index: 10 ;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    width: 100%;
    padding: 30px 100px;


}
.sticky{
    background-color: white;
    padding: 10px 30px;
    
    
}
.sticky .logo{
    color: #111;
}

.sticky .nav-bar li a{
    color: black;
    font-weight: 300;

}


header .logo{
    color:#111;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}
.logo span{
    color: rgb(238, 36, 120);
    font-size: 3rem;
    
}
.nav-bar {
    display: flex;
    position: relative;
   
    
}
.nav-bar li{
    list-style: none;
    margin-left: 30px; 
}
.nav-bar li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.nav-bar li a:hover{
    color: rgb(238, 36, 120);
    
    transition:0.5s;
}



/* ////////////// Page 1 ///////////// */


.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/bg.jpg");
    background-size: cover;
 }

 .banner .content{
     max-width: 900px;
     text-align: center;
 }

 .banner .content h2{
     font-size: 5rem ;
     color: #111;
 }

 .banner .content p{
     font-size: 1rem;
     font-weight: 300;
    color: #fff;
 }
 .banner .content .btn{
     background-color: rgb(238, 36, 120);
     color: #fff;
     text-decoration: none;
     padding: 10px 30px ;
     line-height: 70px;
     font-weight: 300;
     /* display: inline-block; */
     text-transform: uppercase;
     transition: 0.5s;
     letter-spacing: 2px;

 }

 .banner .content .btn:hover{
    transition: 0.5s;
    letter-spacing: 5px;

 }

 /* ///////////// Page - 2 /////// About us /////// */

 section{
     padding: 100px 50px;
     top: 0;
     left: 0;
     box-shadow: 0 20px 35px rgba(0,0,0, 0.03);
 }
  
 .about .row {
     position: relative;
     display: flex;
 }
 .about .row .col-01{
     width: 100%;
     padding: 0 30px;
 }
 .about .row .img1{
     position: relative;
     width: 100%;
     height: 100%;
 }

 .about .row .img1 img{
     position: relative ;
     object-fit: cover;
     width: 100%;
     height: 100%;
     /* top: 0;
     left: 0; */
 }
 .about .row .col-01 .titleText{
     font-size: 3rem;
     font-weight: 400;
 }
 .about .row .col-01 h2 span{
     color: rgb(238, 36, 120);
     font-weight: 500;
 }

 /* //////////////// page - 3 ////// Menu //////////// */
.title{
    width: 100%;
    text-align: center;
    /* display: flex;
    flex-direction: column; */

}
.menu .title .titleText {
    font-size: 3rem;
    font-weight: 400;
}
.menu .title h2 span{
    color: rgb(238, 36, 120);
    font-weight: 500;
}
.menu .content{ 
     /* display: block; */
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
     /* align-items: center; */
     flex-wrap: wrap;
     text-align: center;
     margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 20px 35px rgba(0,0,0, 0.08);
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.menu .content .box .text{
    padding: 15px 0 5px;
}

.menu .content .box .text h3{
    font-weight: 600;
}
.menu .btn{
    background-color: rgb(238, 36, 120);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px ;
    line-height: 70px;
    font-weight: 300;
    /* display: inline-block; */
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    
}

.menu .btn:hover{
transition: 0.5s;
letter-spacing: 5px;
}
 
/* //////////////// Page - 4 ///////// Expert  ////// */

.expert .title .titleText {
    font-size: 3rem;
    font-weight: 400;
}
.expert .title h2 span{
    color: rgb(238, 36, 120);
    font-weight: 500;
}


.expert .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
}

.expert .content .box{
    width: 280px;
    margin: 10px;
    border: 15px solid #fff;
    /* box-shadow: 0 20px 35px rgba(0,0,0, 0.08); */
}
.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 280px;

}
.expert .content .box .imgBx img{
    object-fit: cover;
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}
.expert .content .box h3{
    font-weight: 600;
}
.expert .content .box .text{
    padding: 15px 0 5px;
    box-shadow: 0 20px 35px rgba(0,0,0, 0.08);
}


/* //////////// Page - 5 //////// Testimonials //////// */

.testimonial {
    background: url('images/bg2.jpg');
    object-fit: cover;
    /* width: 100%;
    height: auto; */
    /* display: flex; */
    
}

.testimonial .title h3{
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}
.testimonial .title h3 span{
    color: rgb(238, 36, 120);
}
.testimonial .title p{
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}
.testimonial .content {
    /* display: flex;
    padding: 40px 30px;
    position: relative; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    
}
.testimonial .content .box{
    /* position: relative; */
    display: flex;
    padding: 40px;
    flex-direction: column;
    width: 350px;
    margin: 20px;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    background-color: rgba(163, 150, 150, 0.473);
    /* height: 400px; */
}

.testimonial .content .box .imgBx{
    position: relative;
    
    width: 80px; 
    height: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50%;
    
    
   
}
.testimonial .content .box .imgBx img{
    /* margin: 0 100px; */
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
    border-radius: 50%;
    top: 0;
    left: 0;
}

.testimonial .content .box .text{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.795);

}
.testimonial .content .box h3{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* /////////////////// Contact Form /////////// */

.contact{
    background: url(images/bg3.jpg);
    background-size: cover;
    
}

.contact .title .text {
    font-size: 3rem;
    font-weight: 400;
    color: #111;
}
.contact .title p{
    color: #111;
    font-weight: 300;
    font-size: 1rem;
}
.contact .title h2 span{
    color: rgb(238, 36, 120);
    font-weight: 500;
}


.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactform h3{
    color: #111;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputBox textarea,
.contactform .inputBox input{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color:#111;
    outline: none;
    font-size: 16px;
    font-weight: 500;
     resize: none; 
}
 .contactform .inputBox input[type="submit"]{
     font-size: 1rem;
     color: #fff;
     background: #EE2478;
     display: inline-block;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 2px;
     transition: 0.5s;
     font-weight: 500;
     max-width: 100px;
 }

 .copyright{
     padding: 8 40px;
     border-top: 1px solid rgba(0,0,0, 0.5);
     text-align: center;
 } 


@media (max-width: 991px){
    header.sticky,
    header{
        padding:10px 20px;
    }
    header .nav-bar{
        display: none;
    }

    .menutoggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menutoggle.active{
        background: url(images/close.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }

    header.sticky .menutoggle{
        filter: invert(1);
    }

    header .nav-bar.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        justify-content: center;
        align-items: center;
        background: #fff;
         
    }
    header .nav-bar li{
        margin-left: 0;
    }
    header .nav-bar li a{
        color: #111;
        font-size: 1.6rem;
    }
}
